body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  margin: 4em auto;
  width: 34.38em;
}
p {
  margin: 0;
}
.aligned {
  dislay: block;
}
.left {
  float: left;
  width: 20%;
  display: block;
  font-weight: bold;
}
.left img {
  margin: 0.63em 0 0.63em 0;
}
.left a {
  display: block;
  color: #000;
  text-decoration: underline;
}
.left a:hover {
  text-decoration: none;
}
.right {
  float: right;
  width: 80%;
}
h1, h3 {
  margin: 0 0 0.31em 0;
  border-bottom: 0.06em solid #DDD;
}
h1 {
  font-size: 200%;
}
ul {
  margin: 0;
}
h3 {
  font-size: 120%;
}
pre {
  font-size: 90%;
  background: #F4F4F4;
  padding: 0.35em;
}
