body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  margin: 4em auto;
  width: 34.38em;
}
p {
  margin: 0;
}
.aligned {
  dislay: block;
}
.left {
  float: left;
  width: 20%;
  display: block;
}
.left img {
  margin: 0.63em 0 0.63em 0;
  width: 4.38em;
}
.left a {
  font-weight: bold;
  display: block;
  color: #000;
  text-decoration: underline;
}
.left a:hover {
  text-decoration: none;
}
.right {
  float: left;
  width: 80%;
}
h1, h3 {
  margin: 0 0 0.31em 0;
  border-bottom: 0.06em solid #DDD;
}
h1 {
  font-size: 200%;
}
ul {
  margin: 0;
}
h3 {
  font-size: 120%;
}
pre {
  font-size: 90%;
  background: #F4F4F4;
  padding: 0.35em;
  overflow-x: scroll;
}

@media only screen and (max-device-width: 480px) {
body {
  width: inherit;
}
.left {
  top: 0;
  position: fixed;
  padding: 0.3em 0.6em;
  background-color: #EEE;
  clear: both;
  width: 100%;
  text-align: center;
}
.right {
  width: calc(100% - 1.2em);
  margin-top: -2em;
  padding: 0.6em;
}
.left a {
  display: block;
  float: left;
  margin: 0 0.3em;
}
.left img {
  float: left;
  width: 1.25em;
  margin: 0 0.2em 0 0;
}
}
